.diary-post {
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 32px;
}

.cta-banner{
  width: 100%;
}

input {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  border-radius: 12px;
  background: #ffffff;
  font-size: 15px;
  margin-bottom:10px;
}

.button-diary{
  display: flex;
  padding: 10px 20px;
  width: 100%;
  border-radius: 12px;
  background: #cc4b76;
  text-align: center;
  font-size: 15px;
  justify-content: center;
  border: none;
}

.button-diary p{
  font-weight: 700;
}

.disabled{
  color: #ffffff;
  background-color: #919aa8;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
}

.diary-container{
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
}

.p-diary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

h1 {
  color: #1E1E1E;
}

li {
  list-style-type: none;
}

div.last-item {
  margin-bottom: 120px;
}