h1, p {
  color: #000000;
  
}

img {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 24px;
}

.container {
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.nim-bio {
  padding-top: 10px;
}

.nim-bio p {
  margin-bottom: 8px;
}

.cta-banner {
  width: 100%;
}

.inputan {
  padding-bottom: 10px;
}

input {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  width: 100%;
  border-radius: 12px;
  background: #ffffff;
  font-size: 15px;
}

button {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  border-radius: 12px;
  background: #cc4b76;
  text-align: center;
  font-size: 15px;
  justify-content: center;
  color: #ffffff;
  border: none;
}

.button.empty button {
  background-color: #919aa8;
  
}

.button.not-empty button {
  background-color: #cc4b76;
}
