@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1, p {
  color: #000000;
  font-family: "Plus Jakarta Sans";
}

img {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 24px;
}

.body {
  background-color: #d9d0d2;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.nim-bio {
  padding-top: 10px;
}

.nim-bio p {
  margin-bottom: 8px;
}

.cta-banner {
  width: 100%;
}

.inputan {
  padding-bottom: 10px;
}

input {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  width: 100%;
  border-radius: 12px;
  background: #ffffff;
  font-size: 15px;
}

button {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  border-radius: 12px;
  background: #cc4b76;
  text-align: center;
  font-size: 15px;
  justify-content: center;
  color: #ffffff;
  border: none;
}

button:hover {
  background: #d95e94;
}

@media screen and (max-width: 414px) {
  .container {
    width: 100%;
  }
}
